/* Fonts */
@font-face {
    /* License: fonts/Inconsolata-License.txt */
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Inconsolata Regular"),
         local("Inconsolata-Regular"),
         url("/fonts/Inconsolata-Regular.woff2") format("woff2"),
         url("/fonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
    /* License: fonts/B612-License.txt */
    font-family: "B612";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("B612 Italic"),
         local("B612-Italic"),
         url("/fonts/B612-Italic.woff2") format("woff2"),
         url("/fonts/B612-Italic.ttf") format("truetype");
}

@font-face {
    /* License: fonts/B612-License.txt */
    font-family: "B612";
    font-style: bold;
    font-weight: 400;
    font-display: swap;
    src: local("B612 Bold"),
         local("B612-Bold"),
         url("/fonts/B612-Bold.woff2") format("woff2"),
         url("/fonts/B612-Bold.ttf") format("truetype");
}

@font-face {
    /* License: fonts/B612-License.txt */
    font-family: "B612";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("B612 Regular"),
         local("B612-Regular"),
         url("/fonts/B612-Regular.woff2") format("woff2"),
         url("/fonts/B612-Regular.ttf") format("truetype");
}

body { font-family: "B612", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "B612", sans-serif; }
code { font-family: "Inconsolata", monospace; }


/* Colors */
body { background: #FFF; color: #444; }
h1, h2, h3, h4, h5, h6 { color: #222; }
a { color: #0037EB; }
a:visited { color: #7600D6; }
a:hover { color: #4C00EB; }
a:active { color: #EB005E; }
.comment { color: #666; }
@keyframes highlight-anchor {
    0% { background-color: #FFA; }
    100% { background-color: #FFF; }
}
code {
    background-color: #EEE;
    border-color: #AAA;
}
@media (prefers-color-scheme: dark) {
    body { background: #333; color: #CCC; }
    h1, h2, h3, h4, h5, h6 { color: #EEE; }
    a { color: #BFCFFF; }
    a:visited { color: #E2BEFF; }
    a:hover { color: #D3BFFF; }
    a:active { color: #FFBFD8; }
    .comment { color: #BBB; }
    @keyframes highlight-anchor {
        0% { background-color: #775; }
        100% { background-color: #333; }
    }
    code {
        background-color: #444;
        border-color: #777;
        color: #DDD;
    }
}

/* A hack to make it so everything doesn't shift when the scrollbar
   appears/disappears when moving between pages. If there's a problem
   with this that I'm not aware of, please send me an email, I'm kinda
   iffy on this myself as well. */
html { margin-left: calc(100vw - 100%); }


/* Misc styling */
/* Normally headers are much too big, a small size bump + the bold font is enough */
h1 { font-size: 1.5rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1rem; }
p  { line-height: 1.5; }
footer p { font-size: 0.8rem; }
ul { padding-left: 1.75em; }


/* Link styling */
a[href*=":"]::after { content: " ↗"; }
a { text-decoration-skip-ink: auto; }
a:focus { outline: 1px dashed; outline-offset: 1px; }


/* Animations for anchors */
h1:target, h2:target, h3:target, h4:target {
    animation: 1s highlight-anchor;
}

/* Blog list styling */
ul.blog-list { list-style: none; padding-left: 0; }
ul.blog-list .timestamp {
    font-size: 0.8rem;
    margin-top: -0.7rem;
    margin-bottom: -0.7rem;
}

/* Feed button styling */
.feed-button {
    float: right;
    margin-top: -2.9rem;
    margin-right: 1rem;
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

/* Code block styling */
code {
    font-size: 0.85rem;
    margin-bottom: -0.1rem;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

pre code {
    display: block;
    padding: 1em;
    margin-right: 1em;
    line-height: 1.25;
    white-space: pre-wrap;
}


/* Layout rules (which change depending on device) */
/* "Desktop view" */
body {
    width: 40rem;
    margin: auto;
}
/* "Mobile view" */
@media (max-width: 41rem) {
    h1 { font-size: 1.3rem; }

    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    main, header, footer {
        padding-left: 1em;
        padding-right: 1em;
    }

    .feed-button {
        display: block;
        float: none;
        margin: 0;
        margin-top: -0.8em;
        padding: 0;
        font-size: 0.9rem;
    }

    pre code {
        margin-right: 0;
    }
}
