/* Fonts */
@font-face {
    /* License: fonts/Inconsolata-License.txt */
    font-family: "Inconsolata"; font-style: normal; font-weight: normal;
    src: local("Inconsolata Regular"), local("Inconsolata-Regular"),
         url("/fonts/Inconsolata-Regular.woff2") format("woff2"),
         url("/fonts/Inconsolata-Regular.ttf") format("truetype");
}
@font-face {
    /* License: fonts/B612-License.txt */
    font-family: "B612"; font-style: italic; font-weight: normal;
    src: local("B612 Italic"), local("B612-Italic"),
         url("/fonts/B612-Italic.woff2") format("woff2"),
         url("/fonts/B612-Italic.ttf") format("truetype");
}
@font-face {
    /* License: fonts/B612-License.txt */
    font-family: "B612"; font-style: normal; font-weight: bold;
    src: local("B612 Bold"), local("B612-Bold"),
         url("/fonts/B612-Bold.woff2") format("woff2"),
         url("/fonts/B612-Bold.ttf") format("truetype");
}
@font-face {
    /* License: fonts/B612-License.txt */
    font-family: "B612"; font-style: normal; font-weight: normal;
    src: local("B612 Regular"), local("B612-Regular"),
         url("/fonts/B612-Regular.woff2") format("woff2"),
         url("/fonts/B612-Regular.ttf") format("truetype");
}
@font-face {
    /* License: fonts/Bitter-License.txt */
    font-family: "Bitter"; font-style: italic; font-weight: normal;
    src: local("Bitter Italic"), local("Bitter-Italic"),
         url("/fonts/Bitter-Italic.woff2") format("woff2"),
         url("/fonts/Bitter-Italic.otf") format("opentype");
}
@font-face {
    /* License: fonts/Bitter-License.txt */
    font-family: "Bitter"; font-style: normal; font-weight: bold;
    src: local("Bitter Bold"), local("Bitter-Bold"),
         url("/fonts/Bitter-Bold.woff2") format("woff2"),
         url("/fonts/Bitter-Bold.otf") format("opentype");
}
@font-face {
    /* License: fonts/Bitter-License.txt */
    font-family: "Bitter"; font-style: italic; font-weight: bold;
    src: local("Bitter Bold Italic"), local("Bitter-BoldItalic"),
         url("/fonts/Bitter-BoldItalic.woff2") format("woff2"),
         url("/fonts/Bitter-BoldItalic.otf") format("opentype");
}
@font-face {
    /* License: fonts/Bitter-License.txt */
    font-family: "Bitter"; font-style: normal; font-weight: normal;
    src: local("Bitter Regular"), local("Bitter-Regular"),
         url("/fonts/Bitter-Regular.woff2") format("woff2"),
         url("/fonts/Bitter-Regular.otf") format("opentype");
}

body { font-family: "Bitter", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "B612", sans-serif; }
code { font-family: "Inconsolata", monospace; }


/* Colors (default: light) */
body { background: #FFF; color: #444; }
h1, h2, h3, h4, h5, h6 { color: #222; }
a { color: #0037EB; }
a:visited { color: #7600D6; }
a:hover { color: #4C00EB; }
a:active { color: #EB005E; }
.comment { color: #666; }
code, video {
    background-color: #EEE;
    border-color: #AAA;
    color: #444;
}
code .syntax-keyword { color: #85418c; }
code .syntax-variable { color: #465476; }
code .syntax-call { color: #2659ae; }
code .syntax-number { color: #993f33; }
code .syntax-string { color: #785604; }
code .syntax-comment { color: #006c00; }

@media (prefers-color-scheme: dark) {
    body { background: #333; color: #CCC; }
    h1, h2, h3, h4, h5, h6 { color: #EEE; }
    a { color: #E9EB00; }
    a:visited { color: #62D600; }
    a:hover { color: #A4EB00; }
    a:active { color: #00EB8C; }
    .comment { color: #BBB; }
    code, video {
        background-color: #444;
        border-color: #777;
        color: #DDD;
    }
    code .syntax-keyword { color: #e9a6fc; }
    code .syntax-variable { color: #d5dfe1; }
    code .syntax-call { color: #5bf2f4; }
    code .syntax-number { color: #fbd4d3; }
    code .syntax-string { color: #fbd7b0; }
    code .syntax-comment { color: #67fb53; }
}

/* A hack to make it so everything doesn't shift when the scrollbar
   appears/disappears when moving between pages. If there's a problem
   with this that I'm not aware of, please send me an email, I'm kinda
   iffy on this myself as well. */
html { margin-left: calc(100vw - 100%); }
/* The hack isn't needed when the max-width can't be reached. */
@media (max-width: 42rem) {
    html { margin-left: 0; }
}


/* Main layout rules */
body {
    max-width: 40rem;
    margin: auto;
}
main, header, footer {
    padding-left: 1em;
    padding-right: 1em;
}


/* Normally headers are much too big, a small size bump + the bold font is enough */
h1 { font-size: 1.3rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1rem; }
footer p { font-size: 0.8rem; }
ul { padding-left: 1.75em; }

/* Make the text easier on the eyes */
p  { line-height: 1.5; }


/* Link styling */
a[href*=":"]::after { content: " ↗"; }
a { text-decoration-skip-ink: auto; }
a:focus { outline: 1px dashed; outline-offset: 1px; }


/* Blog list styling */
ul.blog-list { list-style: none; padding-left: 0; }
ul.blog-list .timestamp {
    font-size: 0.8rem;
    margin-top: -0.7rem;
    margin-bottom: -0.7rem;
}

/* Subtitle styling */
.subtitle {
    margin-top: -0.8em;
}

/* Code block styling */
code {
    font-size: 0.85rem;
    margin-bottom: -0.1rem;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

pre code {
    display: block;
    padding: 1em;
    line-height: 1.25;
    white-space: pre-wrap;

    /* Since the text is left aligned, it tends to cut off quite a bit
       before reaching the right margin; code blocks look better if
       they don't quite reach the right margin (and it's obvious if
       they do, since they have a background color.) */
    margin-right: 1em;
}
@media (max-width: 30rem) {
    /* But when you're on mobile or otherwise have a narrow client, it's
       better to just have the code block be as wide as it can. */
    pre code { margin-right: 0; }
}

/* Video container styling */
video {
    margin: 0;
    padding: 0;
    border-width: 2px;
    border-style: solid;
    width: 97%;
    width: calc(100% - 1em);
}
