<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>~neon/thoughts</title>
    <link href="/feed.xml" rel="alternate" type="application/atom+xml" title="This blog's Atom feed" />
    <link id="css-default" href="/default.css" rel="stylesheet"           type="text/css" title="Default" />
    <link id="css-dark"    href="/dark.css"    rel="alternate stylesheet" type="text/css" title="Dark" />
    <link id="css-light"   href="/light.css"   rel="alternate stylesheet" type="text/css" title="Light" />
    <script src="/themeswitcher.min.js" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <h1><a href="/">~neon/thoughts</a></h1>
      <p class="subtitle"><small><a href="/feed.xml">Atom Feed</a></small></p>
      <p><em>Writing about programs and programming.</em></p>
    </header>
    <main>
      <ul class="blog-list">
        {{insert-here}}
      </ul>
    </main>
    <br />
    <footer>
      <p>
        This blog is distributed under the
        <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">CC-BY-ND 4.0 license</a>.

        The fonts used are all licensed under the OFL:
        <a href="/fonts/Bitter-License.txt">Bitter</a>,
        <a href="/fonts/B612-License.txt">B612</a>,
        <a href="/fonts/Inconsolata-License.txt">Inconsolata</a>.
      </p>
    </footer>
  </body>
</html>
